{% extends "layout.html "%}
{% block content %}
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="about-intro" class="clear">
        <h2>About Us</h2>
        <img src="static/images/demo/ameya.jpg" alt="">
        <p>We are team</p>
        <p> Saving the world bby </p>
      </section>
      <!-- ####################################################################################################### -->
      <section id="team">
        <h2>Our Team</h2>
        <ul class="clear">
          <li class="one_third first">
            <figure><img src="static/images/demo/vishnuu.jpg" alt="">
              <figcaption>
                <p class="team_name">Vishnu</p>
                <p class="team_title">Founder, CEO, and Pretty Face</p>
                <p class="team_description">I have nice hair</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="static/images/demo/parth.jpg" alt="">
              <figcaption>
                <p class="team_name">Parth</p>
                <p class="team_title">Machine Learning Expert</p>
                <p class="team_description">Coding is easy</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="static/images/demo/ameyaa.jpg" alt="">
              <figcaption>
                <p class="team_name">Ameya</p>
                <p class="team_title">Assistant to all</p>
                <p class="team_description">I help</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third first">
            <figure><img src="images/demo/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Luis</p>
                <p class="team_title">President of Backend Stuff</p>
                <p class="team_description">king</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="images/demo/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Jason</p>
                <p class="team_title">I don't need a title</p>
                <p class="team_description">Fuck you</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="images/demo/team-member.gif" alt="">
              <figcaption>
                <p class="team_name">Richa</p>
                <p class="team_title">Mother of Five and Project Manager</p>
                <p class="team_description">I'd do anything for my children including giving them all A's in CS 196</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
{% endblock content %}
