{% extends "layout.html "%}
{% block content %}
  <h1>Human Immunodeficiency Virus</h1>
  <p>HIV infects white blood cells in the body's immune system called T-helper cells (or CD4 cells). The virus attaches itself to the T-helper cell; it then fuses with it, takes control of its DNA, replicates itself and releases more HIV into the blood.
    Our algorithm finds these viruses and gets a total count in a blood sample to return the intensity of HIV infection the patient has.</p>

    <div><img src="static/images/demo/HIVfound.PNG" alt="" style="width:400px;height:300px;"></div>
{% endblock content %}
