{% extends "layout.html "%}
{% block content %}
  <h1>HIV Information</h1>
	<div class="menu_div">
		<h5>Content</h5>
		<ul>
      <li><a id="toov">Overview</a></li>
      <li><a id="todata">Data and Pictures</a></li>
    </ul>
	</div>
	<div class="column full_size unit" id="ov">
		<h1>Overview</h1>
		<div style="margin: 0px 20px 0px 30px">
      <p align="left">The human immunodeficiency virus (HIV) is a lentivirus (a subgroup of retrovirus) that causes HIV infection and over time acquired immunodeficiency syndrome (AIDS). AIDS is a condition in humans
        in which progressive failure of the immune system allows life-threatening opportunistic infections and cancers to thrive. Without treatment, average survival time after infection with HIV is estimated to be 9 to 11 years, depending on the HIV subtype. In most cases, HIV is a sexually transmitted infection and occurs by contact with or transfer of blood, pre-ejaculate, semen, and vaginal fluids. Non-sexual transmission can occur from an infected mother to her infant during pregnancy, during childbirth by exposure to her blood or vaginal fluid, and through breast milk. Within these bodily fluids, HIV is present as both free virus particles and virus within infected immune cell
      </p>
    </div>
	  </div>
	<div class="divider"></div>
	<div class="column full_size unit" id="pics">
		<h1>Data and Pictures</h1>
		<div class="column full_size"><img src="static/images/demo/HIV.jpg" id="hiv_img"> </div>
		<h3 id="execute_hiv" style="cursor: pointer;">Execute Algorithm</h3>
	</div>
	<div class="divider"></div>
{% endblock content %}
