{% extends "layout.html "%}
{% block content %}
 	<h1>Test Your Blood With Our Algorithms!</h1>
		<div class="column full_size unit demo-frame">
      <div class="media demo-container">
        <img id="img" src="{{  image_file }}">
      </div>
      <form method="POST" action="" enctype="multipart/form-data" style="margin-left: 20px;">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4"> </legend>
            <div class="form-group">
              {{  form.image.label() }}
              {{ form.image(class="form-control-file") }}
              {% if form.image.errors %}
                {%  for error in form.image.errors %}
                  <span class="text-danger">{{  error }}</span></br>
                {%  endfor %}
              {% endif %}
            </div>
          </fieldset>
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
          </div>
        </form>
		</div>
{% endblock content %}
