{% extends "layout.html "%}
{% block content %}
  <h1>Leukemia Information</h1>
	<div class="menu_div">
		<h5>Content</h5>
		<ul>
      <li><a id="toov">Overview</a></li>
      <li><a id="todata">Data and Pictures</a></li>
    </ul>
	</div>
	<div class="column full_size unit" id="ov">
		<h1>Overview</h1>
		<div style="height: 250px">
      <p align="left">Leukemia is cancer of the body's blood-forming tissues, including the bone marrow and the lymphatic system.
      </p>
      <p align="left">Many types of leukemia exist. Some forms of leukemia are more common in children. Other forms of leukemia occur mostly in adults.
      </p>
      <p align="left">  Leukemia usually involves the white blood cells. Your white blood cells are potent infection fighters — they normally grow and divide in an orderly way, as your body needs them. But in people with leukemia, the bone marrow produces abnormal white blood cells, which don't function properly.
      </p>
    </div>
	</div>
	<div class="divider"></div>
	<div class="column full_size unit" id="data">
		<h1>Data and Pictures</h1>
		<div style="height: 500px">Placeholder</div>
	</div>
	<div class="divider"></div>
{% endblock content %}
