{% extends "layout.html "%}
{% block content %}
  <h1>Leukemia Information</h1>
	<div class="menu_div">
		<h5>Content</h5>
		<ul>
      <li><a id="toov">Overview</a></li>
      <li><a id="toalg">Algorithms</a></li>
      <li><a id="todata">Data and Analysis</a></li>
      <li><a id="topics">Pictures</a></li>
      <li><a id="toetc">Ect...</a></li>
    </ul>
	</div>
	<div class="column full_size unit" id="ov">
		<h1>Overview</h1>
		<div style="height: 500px">Placeholder</div>
	</div>
	<div class="divider"></div>
	<div class="column full_size unit" id="alg">
		<h1>Algorithms</h1>
		<div style="height: 500px">Placeholder</div>
	</div>
	<div class="divider"></div>
	<div class="column full_size unit" id="data">
		<h1>Data and Analysis</h1>
		<div style="height: 500px">Placeholder</div>
	</div>
	<div class="divider"></div>
	<div class="column full_size unit" id="pics">
		<h1>Pictures</h1>
		<div style="height: 500px">Placeholder</div>
	</div>
	<div class="divider"></div>
	<div class="column full_size unit" id="etc">
		<h1>Ect</h1>
		<div style="height: 500px">Placeholder</div>
	</div>
	<div class="divider"></div>
{% endblock content %}
