{% extends "layout.html "%}
{% block content %}
  <h1>Malaria Information</h1>
	<div class="menu_div">
		<h5>Content</h5>
		<ul>
      <li><a id="toov">Overview</a></li>
      <li><a id="todata">Data and Pictures</a></li>
    </ul>
	</div>
	<div class="column full_size unit" id="ov">
		<h1>Overview</h1>
		<div style="margin: 0px 20px 0px 30px">
      <p align="left">Malaria is a disease caused by a parasite, transmitted by the bite of infected mosquitoes. Malaria produces recurrent attacks of chills and fever. Malaria kills an estimated 660,000 people each year.
While the disease is uncommon in temperate climates, malaria is still prevalent in tropical and subtropical countries. World health officials are trying to reduce the incidence of malaria by distributing bed nets to help protect people from mosquito bites as they sleep. Scientists around the world are working to develop a vaccine to prevent malaria.
Malaria can damage red blood cells.
      </p>
    </div>
	</div>
	<div class="divider"></div>
	<div class="column full_size unit" id="data">
		<h1>Data and Pictures</h1>
		<img src="static/images/demo/malaria.jpg" id="malaria_img">
		<h3 id="execute_malaria" style="cursor: pointer;">Execute Algorithm</h3>
	</div>
	<div class="divider"></div>
{% endblock content %}
