{% extends "layout.html "%}
{% block content %}
  <h1>Neutrophilia Information</h1>
    <div class="menu_div">
        <h5>Content</h5>
        <ul>
      <li><a id="toov">Overview</a></li>
      <li><a id="todata">Data and Pictures</a></li>
    </ul>
    </div>
    <div class="column full_size unit" id="ov">
        <h1>Overview</h1>
        <div style="margin: 0px 20px 0px 30px">
      <p align="left"> Neutrophils are the primary white blood cells that respond to a bacterial infection, so the most common cause of neutrophilia is a bacterial infection, especially pyogenic infections. Neutrophils are also increased in any acute inflammation, so will be raised after a heart attack, other infarct or burns.
      </p>
    </div>
    </div>
    <div class="divider"></div>
    <div class="column full_size unit" id="pics">
        <h1>Data and Pictures</h1>
        <img src="static/images/demo/neturopil.jpg" id="neturopil_img">
			<h3>Coming Soon</h3>
        <!--<h3 id="execute_neutrophilia" style="cursor: pointer;">Execute Algorithm</h3>-->
    </div>
    <div class="divider"></div>
{% endblock content %}